*{margin: 0;padding: 0;font-size: 14px;color: #333;font-family: "微软雅黑";}
ul,li,a{list-style: none;text-decoration: none;margin: 0;padding: 0;border: 0;}

.w_fluid{width:100%;}
.img-auto{width: 100%;height: auto;}
.flexbox{
	width: 100%;
	position: relative;
	display: flex;
	display: -webkit-flex;
	flex-wrap: nowrap;
	flex-direction: row;
	flex-flow: row||wrap;/*是否换行*/
	justify-content: space-between;/*水平轴上如何对齐*/
	align-items:center; /*垂直轴上如何对齐*/
	box-sizing:border-box;
}
.flex-box{
    position: relative;
	padding: 0px 8px;
	text-align: center;
}
.clearPad{
	margin-left: -8px;
	margin-right: -8px;
}
.flex-box-1{
	flex: 1;
}
.flex-box-2{
	flex: 2;
}
.flex-box-3{
	flex: 3;
}
.flex-box-4{
	flex: 4;
}
.bottom50{
	margin-bottom: 50px;
}
.bottom10{
	margin-bottom: 10px;
}
.bottom20{
	margin-bottom: 20px;
}
.bottom30{
	margin-bottom: 30px;
}
.bottom40{
	margin-bottom: 40px;
}
.top10{
	margin-top: 10px;
}
.top20{
	margin-top: 20px;
}
.top30{
	margin-top: 30px;
}
.top40{
	margin-top: 40px;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;
}