<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable = no">
	<title></title>
	<link rel="stylesheet" type="text/css" href="head.css">
</head>
<body>
    <!--header-->
    <div class="head flexbox w_fluid">
    	<div class="logobox">
    		<img src="../images/logo.png">
    	</div>
    	<div class="location">
    		<img src="../images/locate.png">
    		<span class="addr">浦口区天润城十二街区</span>
    	</div>
    	<div class="gotologin">
            <span>客服</span>
            <ul>
                <li><a href="#">客服电话</a></li>
                <li><a href="#">在线咨询</a></li>
            </ul>
        </div>
    </div>
</body>
</html>